beautifulsoup4
httpx>=0.25.2
lxml
requests
certifi
urllib3
pandas
numpy<2
uvicorn[standard]
faiss-cpu==1.9.0.post1
python-dotenv
openai>=1.12.0
fastapi==0.115.6
pydantic<2
streamlit
crawlee[playwright]


